# 1. 기본적으로 모든 파일 및 폴더 차단
*

# 2. 하위 폴더 탐색을 위해 디렉토리 구조 허용
!*/
!**/

# 3. 확장자 기준 허용 
!*.html
!*.css
!*.js
!*.sql
!*.txt
!*.jar
!*.hwp
!**/read.md
!**/README.md
!.gitignore

# 4. 자바 폴더 안의 src 안의 .java 파일만 예외적으로 허용
!**/src/*.java